@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@100;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(./assets/fondo.webp) no-repeat center/cover;
}
/* Glassmorphism card effect */
.container {
  height: 100svh;
  width: 100svw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #bdcbf5;
  font-family: "Roboto Condensed";
}
.card {
  height: 320px;
  width: 250px;
  backdrop-filter: blur(6px) saturate(200%);
  -webkit-backdrop-filter: blur(6px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.55);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  transition: all 0.5s ease;
}
.sup {
  height: 50%;
  width: 92%;
  margin: 10px;
  backdrop-filter: blur(6px) saturate(200%);
  -webkit-backdrop-filter: blur(6px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.55);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  justify-content: center;
  align-items: center;
}
.versiculo {
  font-size: 18px;
  text-align: center;
  padding: 5%;
}
.dos {
  font-size: 20px;
}
.tres {
  font-size: 22px;
}
.inf {
  height: 48%;
  display: flex;
  flex-direction: column;
  gap: 5%;
}
.inf p {
  font-family: "Roboto";
  padding-left: 5%;
  font-size: 18px;
}
.goto {
  align-self: center;
  display: flex;
  justify-content: center;
  width: 80%;
  border-style: solid;
  border-color: #bdcbf5;
  border-width: 2px;
  border-radius: 10px;
  padding: 1px;
}
a {
  display: block;
  padding-left: 13%;
  text-decoration: inherit;
  color: inherit;
}
.card::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px rgba(255, 255, 255, 0.265);
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: all 0.5s ease;
}
.card:hover::before {
  filter: brightness(0.5);
  top: -100%;
  left: 200%;
}
.card:hover {
  border: 1px solid rgba(255, 255, 255, 0.209);
  box-shadow: 0 7px 50px 10px rgba(0, 0, 0, 0.238);
  transform: scale (1.015);
  transition: all 0.5s ease;
}
